streamlit
groq
python-dotenv
easyocr
pymupdf
fpdf2
# requirements.txt
# Generated/cleaned on Dec 26, 2025

aiores==0.5.0
altair==6.0.0
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
blinker==1.9.0
cachetools==6.2.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
ci-info==0.3.0
click==8.3.1
colorama==0.4.6
configobj==5.0.9
configparser==7.2.0
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
easyocr==1.7.2
etelemetry==0.3.1
exceptiongroup==1.3.1
filelock==3.20.1
fitz==0.0.1.dev2
fonttools==4.61.1
fpdf==1.7.2
fpdf2==2.8.5
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.45
groq==1.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
idna==3.11
ImageIO==2.37.2
importlib_resources==6.5.2
isodate==0.7.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lazy_loader==0.4
looseversion==1.3.0
lxml==6.0.2
MarkupSafe==3.0.3
motor==3.7.1
mpmath==1.3.0
narwhals==2.14.0
networkx==3.4.2
nibabel==5.3.3
ninja==1.13.0
nipy==1.10.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
packaging==25.0
pandas==2.3.3
pathlib==1.0.1
pillow==12.0.0
protobuf==6.33.2
prov==2.1.1
puremagic==1.3.0
pyarrow==22.0.0
pyclipper==1.4.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pydot==4.0.1
pydub==0.25.1
#pymongo==4.15.5
PyMuPDF==1.26.7
pyparsing==3.2.5
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pyxnat==1.6.4
PyYAML==6.0.3
rdflib==7.5.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
scikit-image==0.25.2
scipy==1.15.3
shapely==2.1.2
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
SpeechRecognition==3.14.4
streamlit==1.52.2
streamlit-audiorecorder==0.0.6
streamlit_mic_recorder==0.0.8
sympy==1.14.0
tenacity==9.1.2
tifffile==2025.5.10
toml==0.10.2
torch==2.9.1
torchvision==0.24.1
tornado==6.5.4
traits==7.1.0
typing-inspect==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
watchdog==6.0.0